.DS_Store
Thumbs.db

*.exe
*.o
*.so

*.log

*.temp
*.tmp

.vscode/
.cursor/
.idea/
*.suo
*.user
*.userosscache

venv/
**/__pycache__/
*.pyc
*.pyo

*.swp
*.swo

.fseventsd/
.Spotlight-V100/
.Trashes/

stroke2vec
.ipynb_checkpoints
.history

.pth
*.pth

logs/
*.pt
/logs/
*.log
/log

config.json
.jpg

*.jpg
*.png
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.eps
*.pdf